.accordion-input {
    display: none;
}

label {
    width: 30%;
    display: block;    
    padding: 8px 22px;
    margin: 0 0 1px 0;
    cursor: pointer;
    /* background: #6AAB95; */
    border-radius: 3px;
    border: 1px solid #000;
    color: #000;
    transition: ease .5s;
}

label:hover {
    /* background: #4E8774; */
}

.content {
    width: 30%;
    /* background: #E2E5F6; */
    padding: 10px 25px;
    border: 1px solid #A7A7A7;
    margin: 0 0 1px 0;
    border-radius: 3px;
}

.accordion-input + label + .content {
    display: none;
}

.accordion-input:checked + label + .content {
    display: block;
}

.accordion {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}