.accordion-input {
    display: none;
}

label {
    width: 70%;
    display: block;    
    padding: 8px 22px;
    margin: 0 0 1px 0;
    cursor: pointer;
    /* background: #6AAB95; */
    border-radius: 3px;
    border: 1px solid #ECF0F1;
    color: #ECF0F1;
    transition: ease .5s;
}

/* label:hover { */
    /* background: #4E8774; */
/* } */

.content {
    width: 70%;
    /* background: #E2E5F6; */
    padding: 10px 25px;
    border: 1px solid #ECF0F1;
    margin: 0 0 1px 0;
    border-radius: 3px;
}

.accordion-input + label + .content {
    display: none;
}

.accordion-input:checked + label + .content {
    display: block;
}

.accordion {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}