@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #212F3D;
    color: #ECF0F1;
}

.base-nav {
    display: flex;
    justify-content: space-between;
    background-color: #2C3E50;
    padding: 0px 10px;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    align-items: center;
    transition: transform 1s ease-out;
}

.base-nav-item {
    float: left;
}

.nav-item-link {
    display: block;
    text-decoration: none;
    color: #E196FF;
    font-size: 1.4rem;
}

.hamburger-icon {
    display: none;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    outline: none;
    border: 5px solid #2C3E50;
    background-color: #2C3E50;
    color: #FFFFFF;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

input[type="text"]:focus,
input[type="password"]:focus {
    border: #3498DB 5px solid;
    outline: none;
}

input[type="submit"],
button {
    padding: 10px;
    background-color: #2C3E50;
    border: 0;
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
    margin: 12px 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

input[type="submit"]:hover,
input[type="submit"]:focus,
button:hover,
button:focus {
    background-color: #3498DB;
    transition: background-color 250ms linear;
}

input[type="checkbox"] {
    /* margin: 10px; */
    width: 20px;
    height: 20px;
}

.btn.nav-item-link {
    padding: 15px;
}

.btn.nav-item-link:hover {
    background-color: #8CAABF;
    transition: background-color 250ms linear;
}

.logo {
    height: 100px;
    padding: 10px;
}

.title {
    text-align: center;
}

.form_container {
    text-align: center;
}

.input_wrapper {
    padding: 10px;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

footer {
    text-align: center;
    padding: 10px;
}

/* flashes */
.alert-message.fade-out {
    opacity: 0;
}

.alert-hide-link {
    float: right;
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    cursor: pointer;
}

.alert-message {
    padding: 20px;
    margin: 5px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.error {
    background-color: #55090d;
    color: #ff5076;
}

.success {
    background-color: #0a4a0a;
    color: #54c787;
}

/* small screens nav bar */
@media screen and (min-width: 601px) {
    .profile-button {
        position: absolute;
        right: 0;
    }
}

@media screen and (max-width: 600px) {
    .nav-bar .base-nav-item:not(:first-child) {
        /* display: none; */
        visibility: hidden;
    }

    .hamburger-icon {
        float: right;
        display: block;
    }

    .nav-bar.responsive {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .nav-bar.responsive .base-nav-item {
        visibility: visible;
    }
}