@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.base-nav {
    display: flex;
    justify-content: space-between;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    align-items: center;
    transition: transform 1s ease-out;
}

.base-nav-item {
    float: left;
}

.nav-item-link {
    display: block;
    text-decoration: none;
}

.hamburger-icon {
    display: none;
}

.btn {
    padding: 14px 16px;
}

.btn:hover {
    background-color: #aaa;
    transition: background-color 250ms linear;
}

.logo {
    height: 100px;
    padding: 10px;
}

.title {
    text-align: center;
}

.form_container {
    text-align: center;
}

.input_wrapper {
    padding: 10px;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

footer {
    text-align: center;
    padding: 10px;
}

.alert-message.fade-out {
    opacity: 0;
}

.alert-hide-link {
    float: right;
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}

.alert-message {
    padding: 20px;
    margin: 5px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.error {
    background-color: #ffd5de;
    color: #970020;
}

.success {
    background-color: #d5f5e3;
    color: #0f6a0f;
}

@media screen and (min-width: 601px) {
    .profile-button {
        position: absolute;
        right: 0;
    }
}

@media screen and (max-width: 600px) {
    .nav-bar .base-nav-item:not(:first-child) {
        /* display: none; */
        visibility: hidden;
    }
    .hamburger-icon {
        float: right;
        display: block;
    }
    .nav-bar.responsive {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .nav-bar.responsive .base-nav-item {
        /* display: list-item; */
        visibility: visible;
    }
}