table { 
    border-collapse: collapse;
    border: 1px solid black;
    margin: auto;
}

td, th {
    border: 1px solid black;
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    text-align: center;
}

.puzzle-question {
    font-size: 1.5rem;
}

.puzzle-question p {
    text-align: center;
    margin: 1rem auto;
    width: 75%;
}