/* .table-container {
    width: 100%;
    text-align: center;
} */
table { 
    border-collapse: collapse;
    border: 1px solid black;
    margin: auto;
}

td, th {
    border: 1px solid black;
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
}