<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} | Advent of Code</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/fontawesome.min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/base_style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="{{url_for('static', filename='js/nav-script.js')}}" defer></script>
    {% block head %}
    {% endblock %}

</head>

<body>
    <header>
        <nav class="base-nav">
            <ul class="nav-bar">
                <li class="base-nav-item">
                    <a id="home" href="{{ url_for('home') }}" class="nav-item-link">
                        <img class="btn nav-item-link logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="logo">
                    </a>
                </li>

                <li class="base-nav-item">
                    <a id="about" href="{{ url_for('puzzle', puzzle_date='today') }}" class="btn nav-item-link">Today's Puzzle</a>
                </li>

                {% if current_user.is_authenticated %}
                    <li class="base-nav-item">
                        <a id="logout" href="{{ url_for('logout') }}" class="btn nav-item-link">Logout</a>
                    </li>
                    <li class="base-nav-item profile-button">
                        <a id="Profile" href="{{ url_for('profile', username=current_user.username) }}" class="btn nav-item-link">Profile</a>
                    </li>
                {% else %}
                    <li class="base-nav-item">
                        <a id="login" href="{{ url_for('login') }}" class="btn nav-item-link">Login</a>
                    </li>
                    <li class="base-nav-item">
                        <a id="register" href="{{ url_for('register') }}" class="btn nav-item-link">Register</a>
                    </li>
                {% endif %}

                <li class="base-nav-item">
                    <a id="leaderboard" href="{{ url_for('leaderboard') }}" class="btn nav-item-link">Leaderboard</a>
                </li>
            </ul>
            <li class="hamburger-icon">
                <a href="javascript:void(0);" class="icon btn nav-item-link" onclick="nav_bar_responsive()">
                    <i class="fa fa-bars"></i>
                </a>
            </li>
        </nav>

        <div class="title">
            <h1>{{ title }}</h1>
        </div>
    </header>

    <div class="alert">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert-message {{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>


    <div id="content">
        {% block content %} 
        {% endblock %}
    </div>

    <footer> 
        <hr>
        <div class="footer">
            <p>Group 27, CM2305 Cardiff University</p>
        </div>
    </footer>
</body>

</html>