{% extends "base.html" %} 
{% block content %}
    <section class="card-header">
        <div class="container my-5">
            <h1 class="display-4">Advent of Code</h1>
        </div>
    </section>
    <section class="Mid">
        <div class="container my-5">
            <h1 class="text-center">
                <script>
                    document.write(new Date().toDateString());
                </script>
                <div id="currentTime"></div>
                <script>
                    function displayTime() {
                        document.getElementById("currentTime").innerHTML = new Date().toLocaleTimeString();
                    }

                    setInterval(displayTime, 1000);
                </script>

            </h1>
            <div class="text-center">
                <a href="#" class="btn btn-primary btn-lg mt-5">Take today's quiz</a>
            </div>
    </section>
    </div>
    <section class="card-footer">
        <div>
            <p1>Done By Group 27</p1>
        </div>
    </section>

{% endblock content %}