{% extends "base.html" %} 
{% block content %}

<div class="form_container">
    <div class="form_wrapper">
        <form method="POST" action="" class="form">
            {{ form.csrf_token }} 

            <div class="input_wrapper">
                {{ form.username.label }} <br> {{ form.username }}
            </div>
            
            <div class="input_wrapper">
                {{ form.password.label }} <br> {{ form.password }}
            </div>

            <div class="input_wrapper">
                {{ form.remember_me }} {{ form.remember_me.label }}

            <div class="input_wrapper">
                {{ form.submit(class_="submit_button") }}
            </div>
        </form>
        
        {% for field, errors in form.errors.items() %}
            {% for error in errors %}
                {{ error }} <br>
            {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock content %}