{% extends "base.html" %} 

{% block head %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/register-style.css') }}">
{% endblock head %}

{% block content %}
<div class="title"> 
    <h1>{{ title }}</h1>
</div>

<div class="form_container">
    <div class="form_wrapper">
        <form method="POST" action="" class="form">
            
            {{ form.csrf_token }} 

            <div class="input_wrapper">
                {{ form.username_new.label }} <br> {{ form.username_new }}
            </div> 

            <div class="input_wrapper">
                {{ form.email_address_new.label }} <br> {{ form.email_address_new }}
            </div>
            
            <div class="input_wrapper">
                {{ form.password_new.label }} <br> {{ form.password_new }} 
            </div>
            
            <div class="input_wrapper">
                {{ form.password_confirm.label }} <br> {{ form.password_confirm }}
            </div>

            <div class="input_wrapper">
                <div class="submit">
                    {{ form.submit(class_="submit_button") }}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}